<html>
  <head>
    <style>
      body {background: <%=
        if status == :correct
          "green"
        elsif status == :close
          "pink"
        else
          "red"
        end
          %>;}
    </style>
  </head>
  <body>
    <p>
      <%= message %>
    </p>
    <p>
      <%= "The SECRET NUMBER is #{number}" if status == :correct %>
    </p>
    <p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
    </p>
  </body>
</html>
